n8n-workflows/n8n_workflow_2_receber_mensagens_COM_S3_v4_WAHA_API.json
{
  "name": "WAHA - Receber Mensagens (COM S3) v4 WAHA API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-receive-message",
        "options": {}
      },
      "id": "webhook-receive",
      "name": "Webhook WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "waha-receive-message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "message-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-messages",
      "name": "Filtrar Mensagens",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Processar dados da mensagem WAHA\nconst payload = $input.item.json.body.payload;\nconst session = $input.item.json.body.session;\n\n// Detectar se é grupo ou conversa individual\nconst isGroup = payload.from && payload.from.includes('@g.us');\n\n// Para grupos, usar participant; para individual, usar from\nlet phoneNumber = '';\nif (isGroup && payload.participant) {\n  phoneNumber = payload.participant.replace(/@lid|@s.whatsapp.net|@c.us/g, '');\n} else if (payload.from) {\n  phoneNumber = payload.from.replace(/@c.us|@lid/g, '');\n}\n\n// Nome do contato\nconst contactName = payload._data?.Info?.PushName || payload._data?.notifyName || phoneNumber;\n\n// Detectar se tem mídia (payload.hasMedia ou tipo não é text)\nconst hasMedia = payload.hasMedia === true || (payload.type && payload.type !== 'text' && payload.type !== 'location' && payload.type !== 'contact');\n\nconsole.log('🔍 Mensagem detectada:', {\n  id: payload.id,\n  type: payload.type,\n  hasMedia: payload.hasMedia,\n  detected: hasMedia\n});\n\nreturn {\n  sessionName: session,\n  wahaMessageId: payload.id,\n  phoneNumber: phoneNumber,\n  contactName: contactName,\n  messageType: payload.type || 'text',\n  content: payload.body || '',\n  hasMedia: hasMedia,\n  direction: payload.fromMe ? 'outgoing' : 'incoming',\n  timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now(),\n  rawPayload: payload\n};"
      },
      "id": "process-message",
      "name": "Processar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-media-flag",
              "leftValue": "={{ $json.hasMedia }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-media",
      "name": "Tem Mídia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "url": "=https://apiwts.nexusatemporal.com.br/api/{{ $json.sessionName }}/messages/{{ $json.wahaMessageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "bd0c416348b2f04d198ff8971b608a87"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "get-message-from-waha",
      "name": "Buscar Mídia do WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 180],
      "notes": "Busca os detalhes da mensagem com mídia do WAHA"
    },
    {
      "parameters": {
        "jsCode": "// Extrair URL da mídia do retorno do WAHA\nconst wahaResponse = $input.item.json;\nconst originalData = items[0].json;\n\n// Verificar se tem mídia no response\nlet mediaUrl = null;\n\nif (wahaResponse.media && wahaResponse.media.url) {\n  mediaUrl = wahaResponse.media.url;\n} else if (wahaResponse.mediaUrl) {\n  mediaUrl = wahaResponse.mediaUrl;\n}\n\nconsole.log('📥 Mídia do WAHA:', mediaUrl);\n\nif (!mediaUrl) {\n  throw new Error('WAHA não retornou URL de mídia');\n}\n\nreturn {\n  ...originalData,\n  mediaUrl: mediaUrl\n};"
      },
      "id": "extract-media-url",
      "name": "Extrair URL da Mídia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 180],
      "notes": "Extrai a URL da mídia do response do WAHA"
    },
    {
      "parameters": {
        "url": "={{ $json.mediaUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "mediaFile"
            }
          }
        }
      },
      "id": "download-media",
      "name": "Baixar Mídia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 180],
      "notes": "Baixa o arquivo de mídia"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "backupsistemaonenexus",
        "fileName": "=whatsapp/{{ $json.sessionName }}/{{ $now.toFormat('yyyyMMdd-HHmmss') }}-{{ $json.wahaMessageId }}.{{ $json.messageType === 'image' ? 'jpg' : $json.messageType === 'video' ? 'mp4' : $json.messageType === 'audio' || $json.messageType === 'ptt' ? 'ogg' : $json.messageType === 'sticker' ? 'webp' : 'bin' }}",
        "binaryPropertyName": "mediaFile",
        "additionalFields": {
          "contentType": "={{ $json.messageType === 'image' ? 'image/jpeg' : $json.messageType === 'video' ? 'video/mp4' : $json.messageType === 'audio' || $json.messageType === 'ptt' ? 'audio/ogg' : $json.messageType === 'sticker' ? 'image/webp' : 'application/octet-stream' }}",
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "whatsapp"
              },
              {
                "name": "session",
                "value": "={{ $json.sessionName }}"
              },
              {
                "name": "type",
                "value": "={{ $json.messageType }}"
              },
              {
                "name": "messageId",
                "value": "={{ $json.wahaMessageId }}"
              },
              {
                "name": "phoneNumber",
                "value": "={{ $json.phoneNumber }}"
              }
            ]
          }
        }
      },
      "id": "upload-s3",
      "name": "Upload para S3 IDrive",
      "type": "n8n-nodes-base.aws",
      "typeVersion": 1.1,
      "position": [1790, 180],
      "credentials": {
        "aws": {
          "id": "idrive-s3-nexus",
          "name": "IDrive S3 - Nexus"
        }
      },
      "notes": "Faz upload da mídia para o S3/IDrive permanentemente"
    },
    {
      "parameters": {
        "jsCode": "// Substituir mediaUrl do WhatsApp pela URL permanente do S3\nconst item = $input.first();\nconst s3Response = item.json;\n\n// Construir URL pública do S3\nconst s3Endpoint = 'https://c1k7.va.idrivee2-46.com';\nconst bucket = 'backupsistemaonenexus';\nconst fileName = s3Response.Key || s3Response.key;\nconst s3Url = `${s3Endpoint}/${bucket}/${fileName}`;\n\nconsole.log('✅ Mídia salva no S3:', s3Url);\n\n// Retornar dados originais com mediaUrl atualizada\nconst originalData = items[0].json;\nreturn {\n  ...originalData,\n  mediaUrl: s3Url,\n  originalMediaUrl: originalData.mediaUrl,\n  s3FileName: fileName\n};"
      },
      "id": "replace-media-url",
      "name": "Substituir URL por S3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 180],
      "notes": "Substitui a URL temporária pela URL permanente do S3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nexusatemporal.com.br/api/chat/webhook/n8n/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-to-nexus-with-s3",
      "name": "Enviar para Backend (COM URL S3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 180],
      "notes": "Envia para o backend com URL do S3 (permanente)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nexusatemporal.com.br/api/chat/webhook/n8n/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-to-nexus-no-media",
      "name": "Enviar para Backend (SEM MÍDIA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 420],
      "notes": "Envia mensagens de texto direto (sem mídia)"
    }
  ],
  "connections": {
    "Webhook WAHA": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens": {
      "main": [
        [
          {
            "node": "Processar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Mensagem": {
      "main": [
        [
          {
            "node": "Tem Mídia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Mídia?": {
      "main": [
        [
          {
            "node": "Buscar Mídia do WAHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar para Backend (SEM MÍDIA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Mídia do WAHA": {
      "main": [
        [
          {
            "node": "Extrair URL da Mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair URL da Mídia": {
      "main": [
        [
          {
            "node": "Baixar Mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Mídia": {
      "main": [
        [
          {
            "node": "Upload para S3 IDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload para S3 IDrive": {
      "main": [
        [
          {
            "node": "Substituir URL por S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Substituir URL por S3": {
      "main": [
        [
          {
            "node": "Enviar para Backend (COM URL S3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "s3-media-waha-api",
      "name": "S3 Media with WAHA API"
    }
  ],
  "pinData": {},
  "versionId": "4"
}
