n8n-workflows/n8n_workflow_2_receber_mensagens_COM_S3_v3.2_BASE64.json
{
  "name": "WAHA - Receber Mensagens (Base64 para Backend) v3.2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-receive-message",
        "options": {}
      },
      "id": "webhook-receive",
      "name": "Webhook WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "waha-receive-message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "message-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-messages",
      "name": "Filtrar Mensagens",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Processar dados da mensagem WAHA\nconst payload = $input.item.json.body.payload;\nconst session = $input.item.json.body.session;\n\n// Detectar se é grupo ou conversa individual\nconst isGroup = payload.from && payload.from.includes('@g.us');\n\n// Para grupos, usar participant; para individual, usar from\nlet phoneNumber = '';\nif (isGroup && payload.participant) {\n  phoneNumber = payload.participant.replace(/@lid|@s.whatsapp.net|@c.us/g, '');\n} else if (payload.from) {\n  phoneNumber = payload.from.replace(/@c.us|@lid/g, '');\n}\n\n// Nome do contato\nconst contactName = payload._data?.Info?.PushName || payload._data?.notifyName || phoneNumber;\n\n// CORREÇÃO: Extrair URL da mídia do campo correto (payload.media.url)\nlet mediaUrl = null;\nlet messageType = 'text';\n\nif (payload.media && payload.media.url) {\n  // WAHA fornece mídia em payload.media.url\n  mediaUrl = payload.media.url;\n  \n  // Detectar tipo pela mimetype\n  if (payload.media.mimetype) {\n    if (payload.media.mimetype.includes('image')) {\n      messageType = 'image';\n    } else if (payload.media.mimetype.includes('video')) {\n      messageType = 'video';\n    } else if (payload.media.mimetype.includes('audio')) {\n      messageType = 'audio';\n    } else if (payload.media.mimetype.includes('application')) {\n      messageType = 'document';\n    }\n  }\n}\n\nconsole.log('📥 Mensagem processada:', {\n  id: payload.id,\n  hasMedia: !!mediaUrl,\n  mediaUrl: mediaUrl,\n  type: messageType\n});\n\nreturn {\n  sessionName: session,\n  wahaMessageId: payload.id,\n  phoneNumber: phoneNumber,\n  contactName: contactName,\n  messageType: messageType,\n  content: payload.body || '',\n  mediaUrl: mediaUrl,\n  direction: payload.fromMe ? 'outgoing' : 'incoming',\n  timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now(),\n  rawPayload: payload\n};"
      },
      "id": "process-message",
      "name": "Processar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-media-url",
              "leftValue": "={{ $json.mediaUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-media",
      "name": "Tem Mídia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.mediaUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "mediaFile"
            }
          }
        }
      },
      "id": "download-media",
      "name": "Baixar Mídia do WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 180],
      "notes": "Baixa a mídia da URL do WAHA"
    },
    {
      "parameters": {
        "jsCode": "// Converter arquivo para base64\nconst binaryData = items[0].binary.mediaFile;\nconst base64 = binaryData.data;\nconst mimeType = binaryData.mimeType || 'application/octet-stream';\n\n// Criar string base64 completa com prefixo data:\nconst mediaBase64 = `data:${mimeType};base64,${base64}`;\n\nconsole.log('📦 Mídia convertida para base64:', {\n  size: base64.length,\n  mimeType: mimeType,\n  type: items[0].json.messageType\n});\n\n// Retornar dados originais + base64\nreturn {\n  ...items[0].json,\n  mediaBase64: mediaBase64\n};"
      },
      "id": "convert-to-base64",
      "name": "Converter para Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 180],
      "notes": "Converte mídia baixada para base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nexusatemporal.com.br/api/chat/webhook/n8n/message-media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-to-backend",
      "name": "Enviar Base64 para Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 180],
      "notes": "Backend faz upload no S3 e salva no banco"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nexusatemporal.com.br/api/chat/webhook/n8n/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-to-backend-no-media",
      "name": "Enviar para Backend (SEM MÍDIA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 420],
      "notes": "Mensagens de texto são ignoradas (já processadas pelo webhook direto)"
    }
  ],
  "connections": {
    "Webhook WAHA": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens": {
      "main": [
        [
          {
            "node": "Processar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Mensagem": {
      "main": [
        [
          {
            "node": "Tem Mídia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Mídia?": {
      "main": [
        [
          {
            "node": "Baixar Mídia do WAHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar para Backend (SEM MÍDIA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Mídia do WAHA": {
      "main": [
        [
          {
            "node": "Converter para Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter para Base64": {
      "main": [
        [
          {
            "node": "Enviar Base64 para Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "base64-backend-s3",
      "name": "Base64 Backend S3"
    }
  ],
  "pinData": {},
  "versionId": "3.2"
}
