n8n-workflows/notificame-oauth-instagram.json
{
  "name": "NotificaMe - OAuth Instagram/Messenger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificame/oauth/start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-oauth-start",
      "name": "Webhook: Iniciar OAuth",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "notificame-oauth-start"
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados do request\nconst platform = $input.item.json.body.platform; // 'instagram' ou 'messenger'\nconst tenantId = $input.item.json.body.tenantId;\nconst userId = $input.item.json.body.userId;\n\n// URL de callback (volta para n8n)\nconst callbackUrl = `${$env.N8N_WEBHOOK_URL}/webhook/notificame/oauth/callback`;\n\n// Salvar contexto no localStorage do n8n (usaremos webhook estático)\nconst context = {\n  platform,\n  tenantId,\n  userId,\n  timestamp: Date.now()\n};\n\n// Retornar dados para próximo node\nreturn {\n  json: {\n    platform,\n    tenantId,\n    userId,\n    callbackUrl,\n    context: JSON.stringify(context)\n  }\n};"
      },
      "id": "code-prepare-oauth",
      "name": "Preparar OAuth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://app.notificame.com.br/api/oauth/authorize",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notificamehubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "platform",
              "value": "={{ $json.platform }}"
            },
            {
              "name": "redirect_uri",
              "value": "={{ $json.callbackUrl }}"
            },
            {
              "name": "state",
              "value": "={{ $json.context }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-oauth-url",
      "name": "NotificaMe: Obter URL OAuth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"data\": {\n    \"authUrl\": $json.oauth_url || $json.authorization_url || $json.url,\n    \"platform\": $json.platform\n  }\n} }}"
      },
      "id": "respond-oauth-url",
      "name": "Responder: URL OAuth",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "notificame/oauth/callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-oauth-callback",
      "name": "Webhook: Callback OAuth",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 500],
      "webhookId": "notificame-oauth-callback"
    },
    {
      "parameters": {
        "jsCode": "// Extrair parâmetros do callback OAuth\nconst code = $input.item.json.query.code;\nconst state = $input.item.json.query.state;\nconst error = $input.item.json.query.error;\n\n// Se houver erro, retornar\nif (error) {\n  return {\n    json: {\n      success: false,\n      error: error,\n      error_description: $input.item.json.query.error_description\n    }\n  };\n}\n\n// Decodificar contexto\nconst context = JSON.parse(state);\n\n// Retornar dados para próximo node\nreturn {\n  json: {\n    code,\n    platform: context.platform,\n    tenantId: context.tenantId,\n    userId: context.userId\n  }\n};"
      },
      "id": "code-process-callback",
      "name": "Processar Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "url": "https://app.notificame.com.br/api/oauth/token",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notificamehubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"code\": $json.code,\n  \"platform\": $json.platform\n} }}",
        "options": {}
      },
      "id": "http-exchange-token",
      "name": "NotificaMe: Trocar Code por Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "url": "https://api.nexusatemporal.com.br/api/notificame/oauth/complete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"tenantId\": $json.tenantId,\n  \"userId\": $json.userId,\n  \"platform\": $json.platform,\n  \"instanceId\": $json.instance_id || $json.instanceId,\n  \"status\": \"connected\"\n} }}",
        "options": {}
      },
      "id": "http-notify-nexus",
      "name": "Nexus: Notificar Conexão",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "<!DOCTYPE html>\n<html>\n<head>\n  <title>Conexão Bem-sucedida</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n      margin: 0;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n    }\n    .container {\n      background: white;\n      padding: 40px;\n      border-radius: 10px;\n      box-shadow: 0 10px 40px rgba(0,0,0,0.2);\n      text-align: center;\n      max-width: 400px;\n    }\n    .success-icon {\n      width: 80px;\n      height: 80px;\n      background: #10b981;\n      border-radius: 50%;\n      display: inline-flex;\n      align-items: center;\n      justify-content: center;\n      margin-bottom: 20px;\n    }\n    .success-icon svg {\n      width: 50px;\n      height: 50px;\n      fill: white;\n    }\n    h1 {\n      color: #1f2937;\n      margin-bottom: 10px;\n    }\n    p {\n      color: #6b7280;\n      margin-bottom: 30px;\n    }\n    .close-info {\n      font-size: 14px;\n      color: #9ca3af;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"success-icon\">\n      <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\">\n        <path d=\"M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z\"/>\n      </svg>\n    </div>\n    <h1>{{ $json.platform === 'instagram' ? 'Instagram' : 'Messenger' }} Conectado!</h1>\n    <p>Sua conta foi conectada com sucesso ao Nexus CRM.</p>\n    <p class=\"close-info\">Esta janela fechará automaticamente em 3 segundos...</p>\n  </div>\n  <script>\n    // Notificar janela pai (opener) do sucesso\n    if (window.opener) {\n      window.opener.postMessage({\n        type: 'notificame_oauth_success',\n        platform: '{{ $json.platform }}'\n      }, '*');\n    }\n    \n    // Fechar popup após 3 segundos\n    setTimeout(() => {\n      window.close();\n    }, 3000);\n  </script>\n</body>\n</html>"
      },
      "id": "respond-success",
      "name": "Responder: Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 500]
    }
  ],
  "connections": {
    "Webhook: Iniciar OAuth": {
      "main": [[{"node": "Preparar OAuth", "type": "main", "index": 0}]]
    },
    "Preparar OAuth": {
      "main": [[{"node": "NotificaMe: Obter URL OAuth", "type": "main", "index": 0}]]
    },
    "NotificaMe: Obter URL OAuth": {
      "main": [[{"node": "Responder: URL OAuth", "type": "main", "index": 0}]]
    },
    "Webhook: Callback OAuth": {
      "main": [[{"node": "Processar Callback", "type": "main", "index": 0}]]
    },
    "Processar Callback": {
      "main": [[{"node": "NotificaMe: Trocar Code por Token", "type": "main", "index": 0}]]
    },
    "NotificaMe: Trocar Code por Token": {
      "main": [[{"node": "Nexus: Notificar Conexão", "type": "main", "index": 0}]]
    },
    "Nexus: Notificar Conexão": {
      "main": [[{"node": "Responder: Sucesso", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-10-22T14:00:00.000Z",
  "versionId": "1"
}
